@model WealthHealth.Models.Investments.Stock

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Stock</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Symbol)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Symbol)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SecurityWithSymbol)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SecurityWithSymbol)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
