@model WealthHealth.Models.Investments.BrokerageAccount

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>BrokerageAccount</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AccountNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccountNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsRetirement)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsRetirement)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BrokerageId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BrokerageId)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
